<?xml version="1.0" encoding="UTF-8" ?>
<!--
/**
 * @package   Snowdog\AlpacaGeneral
 * @copyright 2021 Snowdog. All rights reserved.
 * @see       https://snow.dog/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\CatalogSearch\Block\Result"
                type="Snowdog\AlpacaGeneral\Preference\Magento\CatalogSearch\Block\Result"/>
    <preference for="Smile\ElasticsuiteSwatches\Block\Navigation\Renderer\Swatches\RenderLayered"
                type="Snowdog\AlpacaGeneral\Block\Smile\ElasticsuiteSwatches\Navigation\Renderer\Swatches\RenderLayered"/>
    <preference for="Magento\Checkout\CustomerData\DefaultItem"
                type="Snowdog\AlpacaGeneral\CustomerData\DefaultItem"/>
</config>
